/*сосоеди записываются через знак */
.one + li{
    color:aquamarine
}
/*дочерние как контекстные только рядом стоящие записываются через знак больше*/
ul > li{
    color:red;

}
/*тег[атрибут]*/
input[type="text"]{
    color:red;
}
input[type="date"]{
    color:red;

}
/*po id*/
.q1{
    color: aquamarine;
}
#q1{
    color: rgb(0, 255, 255);
}